/* Header css */

header {
  padding-top: 2rem;
  font-size: 1rem;
  color: #fff;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

header img {
  width: 3rem;
  height: 3rem;
}

.left {
  width: 19rem;
  justify-content: space-around;
  align-items: center;
}

.left img {
  margin-left: -4.5rem;
  padding-right: 5px;
}

.notification>i {
  font-size: 1.5rem;
}

nav {
  width: 30rem;
  justify-content: space-between;
  align-items: center;
}

.search {
  border-radius: 1rem;
  width: 18rem;
  position: relative;
  padding: 10px;
  background-color: #12193e;
  opacity: 0.9;
}

.search i {
  position: absolute;
  top: 0.6rem;
}

#search {
  left: 10px;
}

#microphone {
  right: 10px;
}

.search input {
  font-size: 0.9rem;
  height: 100%;
  border: none;
  outline: none;
  color: inherit;
  background-color: inherit;
  padding-left: 1.4rem;
}