@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&family=Montserrat:wght@400;700&display=swap');

/* Common css classes */

:root {
  --primary-color: #0c1027;
  --secondary-color: #12193e;
  --text-color: #fff;
  --secondary-text-color: #979aab;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0;
  box-sizing: border-box;
  background-color: var(--primary-color);
  color: var(--text-color);
  font-family: 'Montserrat', sans-serif;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

.flex {
  display: flex;
}

/* container */
.container {
  margin: 0 8rem;
  width: 80vw;
  position: sticky;
  background-color: var(--primary-color);
  top: 0;
  z-index: 2;
}

i:hover {
  cursor: pointer;
}

.small-font {
  font-size: 0.7rem;
  margin-top: -9px;
  color: var(--secondary-text-color);
}

.white-bold {
  color: #fff;
  font-weight: 600;
}

.time-length {
  margin-top: 0;
  font-size: 0.6rem;
  color: var(--secondary-text-color);
}